
body {
    background-color: floralwhite;
    text-align: center;
}

body {
    width: 50%;
    margin: auto;
}

li {
    background-color: antiquewhite;
    text-align: left;
    width: 24em;
    border-radius: 10px;
    padding: 1em;
    margin-bottom: 10px;
}

blockquote > p {
    border-radius: 4px;
    padding: 2em;
    background-color: #dccdb9;
}

form input {
    display: block;
}

form textarea {
    display: block;
}


form label {
    display: block;
    text-align: left;
}
